@model BundlingSpike.Web.Models.SiteViewModel[]

@{
    ViewBag.Title = "Manage Sites";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="margin-top:3px;">Sites</h4>
        <div class="pull-right">
            @Html.RouteLink("Add Site", "Default", new { controller = "Sites", action = "Add" }, new { @class = "btn btn-xs btn-primary" })
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Length > 0)
                {
                    foreach(var item in Model)
                    {
                        <tr>
                            <td><strong>@Html.RouteLink(item.Name, "Default", new { controller = "Sites", action = "Details", id = item.Id })</strong></td>
                            <td>@item.Description</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="3" class="text-center"><em>No Results</em></td></tr>
                }
            </tbody>
        </table>
    </div>
</div>

